body{
  background-color: #f7f7f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile_image {
  border-radius: 50%;
}

#title {
  font-size: 40px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #505050;
}

#title,
.subtitle,
.post_title {
  color: #505050;
}

.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.post_image {
  width: 100%;
  margin-bottom: 15px;
}

.post {
  background-color: white;
  padding: 15px;
  border: 3px solid #505050;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post_content {
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.contact_list {
  list-style: none;
  padding-left:15px;
}

.contact_list li a {
  color: brown;
}